<div class="employer-main">
  <div class="employer-card">
    <h1 class="employer-head" style="font-family: 'Ubuntu', sans-serif">
      Employer Registration
    </h1>
    <div class="employer-details">
      <div class="employer-group">
        <label for="">Employer name</label> <input type="text" />
      </div>
      <div class="employer-group">
        <label for="">Company Name</label> <input type="text" />
      </div>
      <div class="employer-group">
        <label for="">Phone</label> <input type="text" />
      </div>
      <div class="employer-group">
        <label for="">Email</label> <input type="text" />
      </div>
      <div class="employer-group">
        <label for="">GSIN Number</label> <input type="text" />
      </div>
      <button class="employer-btn">Submit</button>
    </div>

    <form action=""></form>
  </div>
</div>
