<header>
  <nav class="navbar">
    <a
      href=""
      class="nav-branding"
      style="font-weight: 900; font-variant: small-caps"
      >Placement Tracker</a
    >
    <ul class="nav-menu">
      <li class="nav-item"><a href="" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="" class="nav-link">Signup</a></li>
      <li class="nav-item"><a href="" class="nav-link">Login</a></li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
