@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --main-color--: #0077b6;
  --text-color--: #edf2f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
/* Navbar */
header {
  background-color: transparent;
}
li {
  list-style: none;
}
a {
  color: var(--text-color--);
  text-decoration: none;
}
.nav-link {
  color: var(--text-color--);
}
.navbar {
  font-family: "Ubuntu", sans-serif;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-branding {
  font-size: 2rem;
  color: var(--main-color--);
}

.nav-link {
  padding: 10px;
  border-radius: 15px;
  transition: 0.7s ease;
  font-size: 1.2rem;
  color: var(--main-color--);
}
.nav-link:hover {
  background-color: var(--main-color--);
  color: var(--text-color--);
}

.hamburger {
  display: none;

  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color--);
}
.right {
  max-width: 50%;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--main-color--);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-link {
    color: var(--text-color--);
  }
}
/* Navbar */

/* SVG animation */

#move-hand {
  animation: rotate 1s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-30deg);
  }
}

#first-tab {
  animation: movedown 2s infinite linear;
}

@keyframes movedown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30%);
    opacity: 0;
  }
}

#second-tab {
  animation: moveforward 2s infinite linear;
}

@keyframes moveforward {
  from {
    transform: translatex(0);
  }
  to {
    transform: translateX(60px) translateY(65px);
  }
}
#third-tab {
  animation: visible 2s infinite linear;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* SVG Animation */

/* Main content */
.section-1 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  font-family: "Ubuntu", sans-serif;
}
.right {
  max-height: 50%;
}
.left {
  max-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-group .main-group-head {
  font-size: 4rem;
  padding-top: 2rem;
  font-family: "Ubuntu";
}
.left p {
  padding: 5px;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--main-color--);
  border: solid var(--text-color--) 1px;

  color: var(--text-color--);
  border-radius: 10px;
  padding: 10px;

  margin: 15px 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--text-color--);
  color: var(--main-color--);
  border: solid var(--main-color--) 1px;
}
.section-1 .main-group .company {
  color: var(--main-color--);
  font-size: 5rem;
  padding-top: 2rem;
}
@media (max-width: 768px) {
  .main-group .main-group-head {
    font-size: 2rem;
    text-align: center;
  }
  .section-1 .main-group .company {
    font-size: 3rem;
    padding-top: 0;
    text-align: center;
  }
}

.section-2 {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color--);
}
.section-3 {
  width: 100%;
  height: 100vh;
}

.service-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  flex-flow: wrap;
}
@media (max-width: 768px) {
  .section-2 .service .service-box p {
    font-size: 0.7rem;
  }
  .section-2 .service .service-box #icon {
    font-size: 2rem;
  }
  .service .service-heading h1 {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
.service-heading,
.dolist-heading {
  text-align: center;
}
.service-heading h1 {
  font-size: 3rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: var(--text-color--);
  font-family: inherit;
}
.section-2 .dolist-heading {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--text-color--);
  font-family: inherit;
}

.section-2 .service-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.section-2 .service-box p {
  font-size: 1rem;
  text-align: center;
  color: var(--text-color--);
}
.section-2 .service-box #icon {
  color: var(--text-color--);
  font-size: 4rem;
}
.section-2 .dolist {
  flex: 1;
}
/* Main content */

/* Footer */

a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: "Ubuntu", sans-serif;
}

.footer {
  background-color: var(--main-color--);
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: var(--main-color--);
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: var(--main-color--);
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

/* Footer */
/* Employer Signup */

.employer-main {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.employer-main .employer-card {
  width: 500px;
  height: 650px;
  background-color: var(--main-color--);
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}
.employer-card .employer-head {
  font-size: 2rem;
  text-align: center;
  color: var(--text-color--);
  padding: 2rem 0;
  text-shadow: 1px 1px 7px black;
}
.employer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.employer-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}
.employer-group label {
  font-family: "Ubuntu" sans-serif;
  color: var(--text-color--);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.employer-group input {
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  box-shadow: 1px 1px 7px black;
  outline: none;
  color: var(--main-color--);
}
.employer-btn {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--main-color--);
  background-color: var(--text-color--);
  border-radius: 10px;
  border: 1px solid var(--text-color--);
  padding: 0.4rem 0.4rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 7px black;
}
.employer-btn:hover {
  color: var(--text-color--);
  background-color: var(--main-color--);
}
@media (max-width: 768px) {
  .employer-main .employer-card {
    width: 300px;
    height: 450px;
  }
  .employer-card .employer-head {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  .employer-group {
    padding: 0.5rem 0.5rem;
  }
  .employer-group label {
    margin-bottom: 0.3rem;
    font-size: 1rem;
  }
  .employer-group input {
    font-size: 1.2rem;
  }
  .employer-btn {
    font-size: 0.8rem;

    padding: 0.4rem 0.4rem;
    margin-top: 0.8rem;
  }
}
/* Employer Signup */
